
$primary: #906427;
$secondary: #B6AC97;
$dark: #392C1E;
$black: #292222;
$fonb-family-sans-serif: "Montserrat", sans-serif !default;
$fonb-family-serif:"Hind Madurai", serif !default;

@import "../node_modules/bootstrap/scss/bootstrap";